*{
    margin: 0px !important;
    padding:0px !important;
}



/* CLASES DEL NAV */
.nav{
    height: 15.5vh;
    background-color: aqua;
    
}

body nav div a{
    text-decoration: none;
    color: inherit;
}










/* CLASES DEL SECTION */
.section{
    height: 74.5vh; 
background-color: green;
      /* background-color:#F7ECE1; */
}   



















/* CLASES DEL FOOTER */
.footer{
    background-color: blueviolet;
    align-content: center;
    height: 10vh;
}

