/* CLASES DEL NAV */
.nav{
    height: 20vh;
}










/* CLASES DEL BODY */
.body{
    
      background-color:#F7ECE1;
    height: 70vh; 
} 
.text{
    height: 70VH;
    
}

















/* CLASES DEL FOOTER */
.footer{
    align-content: center;
    height: 10vh;
}

