*{
    margin: 0px !important;
    padding:0px !important;
}

/* FUENTES */
@font-face {
    font-family: Eight One;
    src: url(/assets/Fuentes/Eight\ One.ttf);
}
@font-face {
    font-family: Nunito Sans;
    src: url(/assets/Fuentes/NunitoSans.ttf);
}

/* CLASES DEL NAV */
.nav{
    height: 15.5vh;
    /* background-color: aqua; */
    background-color: #f7ece1;
}
.bottom_nav{
    font-family: Nunito Sans;
}
body nav div a{
    text-decoration: none;
    color: inherit;
}
.nebulaLogo{
    height: 130px;
    width: 200px;
    padding-top: 20px !important;
}









/* CLASES DEL SECTION */
.section{
    height: 77.5vh; 
/* background-color: green; */
      background-color:#F7ECE1;
}   
.titulo_home{
    font-family: Eight One;
}
.subtitulo_home{
    font-family: Eight one;
}

















/* CLASES DEL FOOTER */
.footer{
    /* background-color: #F7ECE1; */
    background-color: #242038;
    align-content: center;
    height: 7vh;
}
.text__footer{
    font-family: Nunito Sans;
    color: #F7ECE1;
}

